.Collapsible{
  padding: 5px;
  background-color: #afafaf;
  border:5px;
  border-color: black solid;
  width: 67%;
  outline: black solid;
}
.App{
  padding: 5px;
}
body{
  background-image: url('./logo.svg');
}